body {
    background-color: #333333;
}

h1 {
    text-align: center;
    color: #cecece;
}

.calendario {
    font-family: cursive;
    width: 80%;
    max-width: 700px;
    margin: auto;
}

.calendario_info {
    background-color: #ff3131;
    color: #cecece;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;
    align-items: center;
    padding: 0 1em;
    font-size: 1.3em;
    text-transform: uppercase;
}

.mes_actual {
    margin-right: 7px;
    padding: 15px;
}

.ano_actual {
    margin-left: 7px;
    padding: 15px;
}

.mes_anterior, .mes_siguiente {
    color: #333333;
}

.mes_anterior button {
    border-top-left-radius: 10px;
}

.mes_siguiente button {
    border-top-right-radius: 10px;
}

.mes_anterior {
    margin-right: auto;
}

.mes_siguiente {
    margin-left: auto;
}

.calendario_dias {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.calendario_semana, .calendario_dias {
    background-color: #cecece;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
}

.item {
    text-align: center;
    line-height: 2;
}

.calendario_hoy {
    background: #333333;
    color: white;
    width: 50%;
    border-radius: 60%;
    margin: auto;
}

.dias_mes_anterior {
    opacity: .3;
}